# Install as /etc/systemd/system/node_ov1.service
#$ sudo systemctl daemon-reload # reload service
#$ sudo systemctl enable node_ov1.service
#$ sudo systemctl restart node_ov1.service -- restart process
#$ sudo systemctl enable node_ov1.service
#$ sudo systemctl stop node_ov1.service
#$ sudo systemctl start node_ov1.service
#$ sudo systemctl restart node_ov1.service
#$ sudo systemctl disable node_ov1.service

#$ ps aux -- list running processes
#$ ps -ef | grep node_ov1
# Output to /var/log/syslog
#$ tail -f /var/log/syslog

[Unit]
Description=Node.js Curtain Control Server
#Requires=After=mysql.service       # Requires the mysql service to run first

[Service]
ExecStart=/usr/bin/nodejs /home/pi/GridInsightOV1/server.js
WorkingDirectory=/home/pi/GridInsightOV1
Restart=on-failure
SyslogIdentifier=GridInsightOV1
User=pi
Group=pi
Environment=PATH=/home/pi/GridInsightOV1
Environment=NODE_ENV=production PORT=4464

[Install]
WantedBy=multi-user.target